<body>
  <div class="component-container proportions-cadastro">
    <div *ngIf="isLogin==0">
      <h2 class="title">LOGIN COM EMAIL</h2>
      <form action="#" method="post">
        <div class="form-group">
          <label for="username">Email</label>
          <input type="text" id="username" name="username" required placeholder="exemplo@email.com"
            [(ngModel)]="username" [ngClass]="{'error-border': loginSubmitted && !username}">
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" id="password" name="password" required placeholder="🔒"
            [(ngModel)]="password" [ngClass]="{'error-border': loginSubmitted && !password}">
          <button class="esqueceu-senha" (click)="changeLogin('reset')">Esqueci minha senha</button>
        </div>
        <div class="separator"></div>

        <button *ngIf="!loading" type="submit" (click)="startLogin()">Entrar</button>
        <div *ngIf="loading" class="spinner-container">
          <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div *ngIf="error" class="alert alert-warning">
          <p>{{ errorMessage }}</p>
        </div>
      </form>

      <div class="options">
        <p>Não possui uma conta? <a (click)="changeLogin('register')">Cadastre-se</a></p>
      </div>

      <hr>

      <div>
        <button class="google-btn" (click)="signInAndAuthorize()">
          <img src="https://www.gstatic.com/images/branding/googleg/1x/googleg_standard_color_32dp.png" alt="Google logo">
          <span>Continuar com Google</span>
        </button>
      </div>
    </div>

    <div *ngIf="isLogin==1">
      <h2 class="title">CRIAR NOVA CONTA</h2>
      <form action="#" method="post">
        <p class="subtitle">Dados básicos</p>
        <div class="form-group">
          <label for="nome" placeholder="Nome social">Nome</label>
          <input type="text" id="nome" name="nome" required
            [(ngModel)]="nome" [ngClass]="{'error-border': registerSubmitted && !nome}">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="registerEmail" required placeholder="exemplo@email.com"
            [(ngModel)]="registerEmail" [ngClass]="{'error-border': registerSubmitted && !registerEmail}">
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" id="password" name="password" required
            [(ngModel)]="password" [ngClass]="{'error-border': registerSubmitted && !password}">
        </div>
        <div class="form-group">
          <p for="radio" class="subtitle">Pretende chamar manifestações?</p>
          <div class="radio-group">
            <label>
              <input class="radio-input" type="radio" name="choice" value="1" (click)="selectOrganizer(1)"> Sim
            </label>
            <br>
            <label>
              <input class="radio-input" type="radio" name="choice" value="0" (click)="selectOrganizer(0)"> Não
            </label>
          </div>
          <div *ngIf="isOrganizerSelected == 1">
            <label for="tel" class="form-group">Telefone de Contato</label>
            <input type="tel" pattern="\(\d{2}\) \d{4,5}-\d{4}" placeholder="(XX) 99999-9999" title="Formato: (DDD) 99999-9999" maxlength="15" required>
            <label for="organizacoes">Selecione uma organização:</label>
            <select [(ngModel)]="selectedOption" name="selectedOption" class="custom-dropdown" (change)="onSelectionChange()">
              <option value="" disabled>Selecione uma opção</option>
              <option *ngFor="let opt of orgsOptions" [value]="opt">{{ opt }}</option>
            </select>
            <div id="outros-container" *ngIf="isOtherSelected == 1">
              <label for="outros">Especifique:</label>
              <input type="text" id="outros" name="outros_organizacao">
            </div>
          </div>
        </div>

        <button *ngIf="!loading" type="submit" (click)="startCadastro()">Cadastrar</button>
        <div *ngIf="loading" class="spinner-container">
          <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div *ngIf="error" class="alert alert-warning">
          <p>{{ errorMessage }}</p>
        </div>
      </form>

      <div class="options">
        <p>Já tem uma conta? <a (click)="changeLogin('login')">Acesse!</a></p>
      </div>
    </div>

    <div *ngIf="isLogin==2">
      <h2 class="title">RESETAR SENHA</h2>
      <!-- Step 1: Request reset email -->
      <div *ngIf="resetStep===0">
        <form>
          <div class="form-group">
            <label for="reset-email">Email</label>
            <input [(ngModel)]="resetEmail" name="resetEmail" type="email" id="reset-email" required placeholder="exemplo@email.com"
              [ngClass]="{'error-border': resetSubmitted && !resetEmail}">
          </div>
          <button class="" *ngIf="!loading" type="button" (click)="startPasswordReset()">Continuar</button>
          <div *ngIf="loading" class="spinner-container">
            <div class="spinner-border text-light" role="status"><span class="visually-hidden">Loading...</span></div>
          </div>
          <div *ngIf="error" class="alert alert-warning"><p>{{ errorMessage }}</p></div>
        </form>
      </div>
      <!-- Step 2: Verify code -->
      <div *ngIf="resetStep===1">
        <form>
          <p class="subtitle">Insira o código de verificação</p>
          <div class="form-group">
            <input id="code-input" type="text" maxlength="5" name="codeInput"
              [(ngModel)]="codeInput"
              class="code-input-single"
              [ngClass]="{'error-border': verifySubmitted && codeInput.length < 5}"
              placeholder="_____">
          </div>
          <button *ngIf="!loading" type="button" (click)="startVerifyPasswordReset()">Enviar código</button>
          <div *ngIf="loading" class="spinner-container">
            <div class="spinner-border text-light" role="status"><span class="visually-hidden">Loading...</span></div>
          </div>
          <div *ngIf="error" class="alert alert-warning"><p>{{ errorMessage }}</p></div>
        </form>
      </div>
      <div class="options">
        <p><a (click)="changeLogin('login')">Voltar ao login</a></p>
      </div>
    </div>

  </div>
</body>