
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: transparent;
}

.lowerOptions{
    background-color: transparent;
    color: #ad4e00;
    text-decoration: underline;
    font-weight: 100;
    
}

.proportions-cadastro{
    font-family: 'Segoe UI', Arial, sans-serif;
    width: 50%;
    max-width: 1000px;

    padding: 25px;

    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

}

/* For Tablets */
@media (max-width: 768px) {
    .proportions-cadastro {
      padding: 20px;
      margin: 15px;
    }
}

h2 {
    color: #ad4e00;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #b4b9c0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ad4e00;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


.radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.options {
    margin-top: 15px;
    text-align: center;
}

.esqueceu-senha{
    margin-top: 1px;
    text-align: right;
    background-color: transparent;
    color: #ad4e00;
    text-decoration: underline;
    font-weight: 100;
}



a {
    color: #964300;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
    color: #964300;
}


  select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 250px;
    margin: 5px 0;
  }
  select:hover {
    border-color: #999;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

.custom-dropdown {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  min-width: 250px;
  margin: 8px 0;
  background-color: white;
}

.custom-dropdown:focus {
  outline: none;
  border-color: #2196F3;
  box-shadow: 0 0 3px rgba(33, 150, 243, 0.5);
}

        .google-btn {
            background-color: #4285f4;
            color: white;
            padding: 12px 24px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 12px;
            transition: background-color 0.3s;
        }

        .google-btn:hover {
            background-color: #ad4e00;
          }

        .google-icon {
            width: 20px;
            height: 20px;
        }