<ngx-particles [id]="id"></ngx-particles>
<header class="app-banner">
  <div class="banner-top">
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <h1 class="banner-title" (click)="navigateToDashboard()">CHAMA PRA LUTA</h1>

  </div>
  <nav class="app-nav" [class.open]="isMenuOpen">
    <button class="nav-button" (click)="navigateToDashboard()">Home</button>
    <ng-container *ngIf="isLoggedIn">
      <button class="nav-button">Perfil</button>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
      <button class="nav-button" (click)="navigateToLogin()">Login</button>
    </ng-container>
    <button class="nav-button" (click)="navigateToCalendario()">Calendário de Atos</button>
  </nav>
</header>

<main class="main-content-area">
  <router-outlet />
</main>
