<body>
  <div *ngFor="let item of pautaList" class="card pauta-card">
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">{{item.description}}</p>
      <button type="button" class="btn btn-primary" (click)="openModal(item.id)">
        Ver Detalhes
      </button>
    </div>
  </div>

  <div *ngIf="showModal" class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="closeModal()">X</button>
        <div class="modal-body" *ngIf="detailsPauta">
          <!-- Display pauta details here -->
          <p><strong>Título:</strong> {{ detailsPauta.title }}</p>
          <p><strong>Descrição:</strong> {{ detailsPauta.details }}</p>
          <!-- Add more details as needed -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Fechar</button>
        </div>
      </div>
  </div>


</body>